.search-page {
  align-items: center;
  justify-content: center;
  background-color: var(--selago);
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 75px;
}

.search-title {
  text-align: center;
}

.auto-flex {
  display: flex;
  flex-direction: column;
}

.result-grid {
  align-items: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.logo {
  height: 8%;
  width: auto;
  position: fixed;
  margin: 10px;
  bottom: 0;
  right: 0;
}
