.search-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 100px;
}

.search-title {
  text-align: center;
}

.result-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
}
