.auto-flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  min-height: 1330px;
  position: relative;
  width: 210px;
}
.auto-flex3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1330px;
  position: relative;
  width: 210px;
}
.auto-flex4 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 1330px;
  margin-top: 93px;
  min-width: 1460px;
}
.bed {
  align-items: flex-start;
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: 20px 20px 30px rgba(205, 215, 233, 1);
  display: flex;
  filter: blur(5px);
  min-width: 210px;
}
.bed-text {
  left: 93px;
  letter-spacing: 0px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 146px;
  white-space: nowrap;
}
.ecg-icon {
  align-items: flex-start;
  display: flex;
  min-width: 91px;
}
.ecg-text {
  align-self: center;
  letter-spacing: 0px;
  line-height: 32px;
  margin-bottom: -12px;
  margin-left: 0.33px;
  margin-top: 5px;
  min-height: 20px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}
.ellipse-214 {
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: -20px -20px 30px rgba(255, 255, 255, 1);
  filter: blur(5px);
  height: 210px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 210px;
}
.link {
  align-items: flex-start;
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: 20px 20px 30px rgba(205, 215, 233, 1);
  display: flex;
  filter: blur(5px);
  height: 210px;
  min-width: 210px;
}
.logo {
  height: 42px;
  margin-left: 334px;
  margin-top: 42.25px;
  width: 76px;
}
.overlap-group {
  height: 91px;
  position: relative;
  width: 91px;
}
.overlap-group-1 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -0.5px;
  min-height: 92px;
  padding: 29.5px 5.2px;
  width: 77px;
}
.overlap-group17 {
  align-items: flex-end;
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: -20px -20px 30px rgba(255, 255, 255, 1);
  display: flex;
  filter: blur(5px);
  flex-direction: column;
  min-height: 210px;
  padding: 45px 61.3px;
  width: 210px;
}
.overlap-group18 {
  height: 210px;
  margin-top: -0.5px;
  position: relative;
  width: 211px;
}
.overlap-group19 {
  align-items: flex-end;
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: -20px -20px 30px rgba(255, 255, 255, 1);
  display: flex;
  filter: blur(5px);
  flex-direction: column;
  min-height: 210px;
  padding: 44.9px 59.1px;
  width: 210px;
}
.overlap-group20 {
  height: 107px;
  margin-left: -22px;
  margin-top: -15px;
  position: relative;
  width: 559px;
}
.oxygen-icon {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  margin-right: 0.55px;
  min-width: 76px;
}
.oxygen-text {
  letter-spacing: 0px;
  line-height: 34px;
  margin-bottom: -13px;
  margin-top: 4px;
  min-height: 21px;
  min-width: 86px;
  text-align: center;
  white-space: nowrap;
}
.rectangle-16827 {
  background-color: var(--selago);
  border-radius: 39px;
  filter: blur(7px);
  height: 92px;
  left: 40px;
  position: absolute;
  top: 18px;
  width: 523px;
}
.rectangle-16853 {
  border-radius: 39px;
  filter: blur(7px);
  height: 92px;
  left: 18px;
  position: absolute;
  top: 3px;
  width: 523px;
}
.search-bar {
  align-items: flex-start;
  display: flex;
  height: 83px;
  margin-left: 0.46px;
  margin-top: 30px;
  min-width: 537px;
}
.search-blur {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  border-radius: 39px;
  height: 83px;
  left: 22px;
  position: absolute;
  top: 15px;
  width: 537px;
}
.search-text {
  left: 84px;
  letter-spacing: 0px;
  line-height: 53px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}
.search-title {
  letter-spacing: 0px;
  line-height: 70px;
  margin-left: 2px;
  min-height: 72px;
  min-width: 746px;
  text-align: center;
  white-space: nowrap;
}
.searchpage {
  align-items: center;
  background-color: var(--selago);
  display: flex;
  flex-direction: column;
  min-height: 1910px;
  padding: 75px 25px;
  width: 1920px;
}
.trac-1943 {
  height: 3px;
  margin-right: 1.93px;
  width: 9px;
}
.trac-1944 {
  height: 4px;
  margin-top: 2px;
  width: 13px;
}
.trac-1945 {
  height: 4px;
  left: 44px;
  position: absolute;
  top: 61px;
  width: 4px;
}
.trac-1946 {
  height: 91px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.trac-1947 {
  height: 58px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 77px;
}
.trac-1948 {
  height: 28px;
  left: 14px;
  position: absolute;
  top: 22px;
  width: 63px;
}
.trac-1949 {
  height: 92px;
  left: 60px;
  position: absolute;
  top: 49px;
  width: 92px;
}
