.round-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 200px;
  height: 75px;
  width: 75px;
  -webkit-transform-origin: center;
  margin-bottom: 30px;
}

.round-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  will-change: opacity;
  cursor: pointer;
  border: none;
  background: none;
}

.round-shadow {
  background: linear-gradient(
    141.8deg,
    var(--light) 13.29%,
    var(--shadow) 84.76%
  );
  border-radius: 200px;
  box-shadow: 8px 8px 8px var(--darker-shadow);
  filter: blur(4px);
  position: absolute;
  height: 75px;
  width: 75px;
}

.round-light {
  background: linear-gradient(141.8deg, var(--light) 35%, var(--shadow) 65%);
  border-radius: 200px;
  box-shadow: -10px -10px 10px var(--lighter-light);
  filter: blur(4px);
  position: absolute;
  height: 75px;
  width: 75px;
}

.round-pressed {
  background: linear-gradient(
    141.8deg,
    var(--darker-shadow) 13.29%,
    var(--lighter-light) 84.76%
  );
  border-radius: 200px;
  filter: blur(6px);
  position: absolute;
  height: 75px;
  width: 75px;
  will-change: opacity;
}

.icon-container {
  display: flex;
  position: relative;
  flex-direction: column;
  will-change: transform;
}

.round-icon {
  position: relative;
  height: 35px;
}
