.flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 0.0px;
  min-height: 672px;
  width: 155px;
}
.flex-col2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 672px;
  width: 155px;
}
.group-3331 {
  align-items: flex-start;
  display: flex;
  height: 672px;
  min-width: 493px;
}
.group-3332 {
  margin-bottom: -0.0px;
  margin-left: 14px;
  position: relative;
}
.rectangle-4 {
  background-color: var(--blue);
  height: 41px;
  margin-left: 0.0px;
  margin-top: 17px;
  width: 155px;
}
.rectangle-4-1 {
  background-color: var(--blue);
  height: 41px;
  margin-left: 0.0px;
  margin-top: 15px;
  width: 155px;
}
.rectangle-4-2 {
  background-color: var(--blue);
  height: 41px;
  margin-top: 17px;
  width: 155px;
}
.rectangle-4-3 {
  background-color: var(--blue);
  height: 41px;
  margin-top: 15px;
  width: 155px;
}
.rectangle-453 {
  background-color: var(--blue);
  height: 41px;
  width: 155px;
}
.rectangle-454 {
  background-color: var(--blue);
  height: 271px;
  width: 155px;
}
.rectangle-458 {
  background-color: var(--blue);
  height: 155px;
  margin-top: 17px;
  width: 155px;
}
.rectangle-468 {
  background-color: var(--blue);
  height: 98px;
  margin-left: 0.0px;
  margin-top: 17px;
  width: 155px;
}
.rectangle-473 {
  background-color: var(--blue);
  height: 99px;
  width: 155px;
}
.rectangle-479 {
  background-color: var(--blue);
  height: 99px;
  margin-top: 17px;
  width: 155px;
}
.rectangle-483 {
  background-color: var(--blue);
  height: 41px;
  margin-top: 18px;
  width: 155px;
}
