.map-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.map-title {
  margin-top: 10px;
}

.top-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  height: 175px;
  top: 0;
  left: 0;
  right: 0;
}

.bottom-container {
  position: fixed;
  height: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
}
