.map-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 75px;
}

.auto-flex1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  margin-top: 224px;
  min-height: 86px;
  width: 17px;
}

.auto-flex2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 138px;
  margin-top: 74px;
  min-height: 881px;
  width: 1183px;
}

.auto-flex22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 221px;
  min-height: 96px;
  width: 176px;
}

.blue-tracker1 {
  background-color: var(--blue-2);
  border-radius: 9.5px;
  height: 19px;
  left: 77px;
  position: absolute;
  top: 60px;
  width: 19px;
}

.blue-tracker2 {
  background-color: var(--blue-2);
  border-radius: 9.5px;
  height: 19px;
  left: 1150px;
  position: absolute;
  top: 252px;
  width: 19px;
}

.blue-tracker3 {
  background-color: var(--blue-2);
  border-radius: 9.5px;
  height: 19px;
  left: 939px;
  position: absolute;
  top: 598px;
  width: 19px;
}

.blue-tracker4 {
  background-color: var(--blue-2);
  border-radius: 9.5px;
  height: 19px;
  left: 387px;
  position: absolute;
  top: 511px;
  width: 19px;
}

.caption-tracker1 {
  background-color: var(--blue-2);
  border-radius: 8.5px;
  height: 17px;
  width: 17px;
}

.caption-tracker2 {
  background-color: var(--pomegranate-2);
  border-radius: 8.5px;
  height: 17px;
  margin-top: 18px;
  width: 17px;
}

.caption-tracker3 {
  background-color: var(--caribbean-green-2);
  height: 17px;
  margin-top: 17px;
  width: 17px;
}

.caption1 {
  letter-spacing: 0px;
  line-height: 25px;
  min-height: 27px;
  white-space: nowrap;
}

.caption2 {
  letter-spacing: 0px;
  line-height: 25px;
  margin-top: 7px;
  min-height: 28px;
  white-space: nowrap;
}

.caption3 {
  letter-spacing: 0px;
  line-height: 25px;
  margin-top: 6px;
  min-height: 27px;
  white-space: nowrap;
}

.ecg-title {
  letter-spacing: 0px;
  line-height: 70px;
  margin-left: 2.61px;
  min-height: 74px;
  min-width: 882px;
  text-align: center;
  white-space: nowrap;
}

.green-tracker {
  background-color: var(--caribbean-green-2);
  height: 19px;
  left: 734px;
  position: absolute;
  top: 503px;
  width: 19px;
}

.map {
  height: 730px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1183px;
}

.map-item {
  height: calc(100% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100% - 1px);
}

.map-rim-light {
  height: calc(100% - 1px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100% - 1px);
}

.orange-tracker {
  background-color: var(--pomegranate-2);
  border-radius: 9.5px;
  height: 19px;
  left: 638px;
  position: absolute;
  top: 372px;
  width: 19px;
}

.overlap-group2 {
  height: 730px;
  margin-top: 77px;
  position: relative;
  width: 1183px;
}
