.search-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 103px;
  width: 557px;
  margin-top: 30px;
}

.search-mask {
  border-radius: 39px;
  height: 77px;
  width: 501px;
  overflow: hidden;
  position: absolute;
}

.search-shadow {
  border-radius: 39px;
  filter: blur(7px);
  border: 15px solid var(--darker-shadow);
  height: 150px;
  position: absolute;
  width: 600px;
  top: 0;
  left: 0;
}

.search-light {
  border-radius: 39px;
  filter: blur(7px);
  border: 15px solid var(--lighter-light);
  height: 150px;
  position: absolute;
  width: 600px;
  bottom: 0;
  right: 0;
}

.search-blur {
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  border-radius: 39px;
  height: 103px;
  width: 557px;
  position: absolute;
}

.search-text {
  left: 70px;
  position: relative;
}
