.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 105px;
  height: 210px;
  width: 210px;
  margin: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.item-shadow {
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: 20px 20px 30px rgba(205, 215, 233, 1);
  filter: blur(5px);
  position: absolute;
  height: 210px;
  width: 210px;
}

.item-light {
  background: linear-gradient(141.8deg, #f9fbff 13.29%, #e3e9f5 84.76%);
  border-radius: 105px;
  box-shadow: -20px -20px 30px rgba(255, 255, 255, 1);
  filter: blur(5px);
  position: absolute;
  height: 210px;
  width: 210px;
}

.item-pressed {
  background: linear-gradient(141.8deg, #d2dcf1 13.29%, #ffffff 84.76%);
  border-radius: 105px;
  filter: blur(10px);
  position: absolute;
  height: 210px;
  width: 210px;
}

.text-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.item-icon {
  position: relative;
  height: 80px;
}

.item-text {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.placeholder-text {
  position: relative;
  text-align: center;
  margin-top: -60px;
}
