.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  height: 210px;
  width: 210px;
  margin: 20px;
  transform: scale(0.9);
  -webkit-transform-origin: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  will-change: opacity;
}

.item-shadow {
  background: linear-gradient(
    141.8deg,
    var(--light) 13.29%,
    var(--shadow) 84.76%
  );
  border-radius: 50px;
  box-shadow: 20px 20px 30px var(--darker-shadow);
  filter: blur(5px);
  position: absolute;
  height: 210px;
  width: 210px;
}

.item-light {
  background: linear-gradient(
    141.8deg,
    var(--light) 13.29%,
    var(--shadow) 84.76%
  );
  border-radius: 50px;
  box-shadow: -20px -20px 30px var(--lighter-light);
  filter: blur(5px);
  position: absolute;
  height: 210px;
  width: 210px;
}

.item-pressed {
  background: linear-gradient(
    141.8deg,
    var(--darker-shadow) 13.29%,
    var(--lighter-light) 84.76%
  );
  border-radius: 50px;
  filter: blur(10px);
  position: absolute;
  height: 210px;
  width: 210px;
  will-change: opacity;
}

.text-container {
  display: flex;
  position: relative;
  flex-direction: column;
  will-change: transform;
}

.item-icon {
  position: relative;
  height: 80px;
}

.item-text {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.placeholder-text {
  cursor: default;
  position: relative;
  text-align: center;
  margin-top: -60px;
}
