.max-width {
    width: 100%;
}

.react-datepicker__input-container {
    width: inherit;
}

.react-datepicker-wrapper {
    width: 100%;
}

.field-title {
    margin-bottom: 5px;
}

.field-text {
    padding-left: 10px;
    width: 100%;
}

.field-input {
    border-radius: 100px;
    border-width: 0;
    padding-left: 10px;
    background: var(--transparent-white);
    width: 100%;
}

.edit-row {
    margin-top: 20px;
}

.button-wrapper {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.cancel-button {
    cursor: pointer;
}

.popup-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}