.field-title {
    margin-bottom: 5px;
}

.field-input {
    border-radius: 100px;
    border-width: 0;
    padding-left: 10px;
    background: var(--transparent-white);
    width: 100%;
}

.edit-row {
    margin-top: 20px;
}

.button-wrapper {
    text-align: center;
}

.feedback-text {
    margin-top: 20px;
}