.map-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90vw;
  height: 80vh;
  position: relative;
}

.map {
  -webkit-border-radius: 75px;
  border-radius: 75px;
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.blurred-edges {
  border-color: var(--background);
  border-radius: 75px;
  border-width: 15px;
  border-style: solid;

  filter: blur(4px);
  width: 85vw;
  height: 75vh;
  position: absolute;
}

.mask-edges {
  border-color: var(--background);
  border-radius: 75px;
  border-width: 10px;
  border-style: solid;

  width: 85vw;
  height: 75vh;
  position: absolute;
  z-index: 99;
}

.map-mask {
  -webkit-border-radius: 75px;
  border-radius: 75px;
  z-index: 0;
  width: 85vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

.map-shadow {
  border-radius: 75px;
  filter: blur(7px);
  border: 20px solid var(--darker-shadow);
  position: absolute;
  width: 100vw;
  height: 90vh;
  top: 0;
  left: 0;
}

.map-light {
  border-radius: 75px;
  filter: blur(7px);
  border: 20px solid var(--lighter-light);
  position: absolute;
  width: 100vw;
  height: 90vh;
  bottom: 0;
  right: 0;
}

.map-ambient {
  border-radius: 75px;
  filter: blur(7px);
  border: 20px solid var(--shadow);
  position: absolute;
  width: 85vw;
  height: 75vh;
}

.map-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(4px);
  border-radius: 75px;
  width: 90vw;
  height: 80vh;
  position: absolute;
}

.nav-bar {
  right: 100px;
  top: 100px;
}
