.map-total-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90vw;
  top: 175px;
  bottom: 4.5vw;
  position: fixed;
}

.map-container {
  align-items: center;
  justify-content: center;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.map {
  -webkit-border-radius: 75px;
  border-radius: 75px;
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.blurred-edges {
  border-color: var(--background);
  border-radius: 75px;
  border-width: 15px;
  border-style: solid;

  filter: blur(4px);
  width: 100%;
  height: 100%;
  position: absolute;
}

.mask-edges {
  border-color: var(--background);
  border-radius: 70px;
  border-width: 10px;
  border-style: solid;

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

.map-mask {
  -webkit-border-radius: 70px;
  border-radius: 70px;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

.map-shadow {
  border-radius: 75px;
  filter: blur(7px);
  border: 20px solid var(--darker-shadow);
  position: absolute;
  width: 120%;
  height: 120%;
  top: 0;
  left: 0;
}

.map-light {
  border-radius: 75px;
  filter: blur(7px);
  border: 20px solid var(--lighter-light);
  position: absolute;
  width: 120%;
  height: 120%;
  bottom: 0;
  right: 0;
}

.map-ambient {
  border-radius: 75px;
  filter: blur(7px);
  border: 20px solid var(--shadow);
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(4px);
  border-radius: 75px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.map-control-right {
  width: 125px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  padding-top: 30px;
}

.map-control-left {
  width: 125px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  padding-top: 30px;
}

.separator {
  height: 50px;
}
