@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@font-face {
  font-family: 'Axiforma-Book';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/5c59b0a881353e000dcaa8e8/Kastelov - Axiforma Book.otf')
    format('opentype');
}

@font-face {
  font-family: 'Axiforma-Light';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/Axiforma-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Axiforma-Bold';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/Axiforma-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Axiforma-Medium';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/Axiforma-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Axiforma-SemiBold';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/5c59b0a881353e000dcaa8e8/Kastelov - Axiforma SemiBold.otf')
    format('opentype');
}
* {
  box-sizing: border-box;
}
.axiforma-bold-blue-70px {
  color: var(--blue);
  font-family: 'Axiforma-Bold', Helvetica, Arial, serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}
.axiforma-book-normal-blue-30px {
  color: var(--blue);
  font-family: 'Axiforma-Book', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.axiforma-light-blue-21px {
  color: var(--blue);
  font-family: 'Axiforma-Light', Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
}
.axiforma-medium-blue-18px {
  color: var(--blue);
  font-family: 'Axiforma-Medium', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.axiforma-medium-blue-19px {
  color: var(--blue);
  font-family: 'Axiforma-Medium', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
}
.axiforma-medium-dove-gray-25px {
  color: var(--dove-gray);
  font-family: 'Axiforma-Medium', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.axiforma-semi-bold-spindle-120px {
  color: var(--spindle);
  font-family: 'Axiforma-SemiBold', Helvetica, Arial, serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
}
.border-10px-geyser {
  border: 10px solid var(--geyser);
}
.border-3px-blue {
  border: 3px solid var(--blue);
}
.border-3px-caribbean-green {
  border: 3px solid var(--caribbean-green);
}
.border-3px-pomegranate {
  border: 3px solid var(--pomegranate);
}
.border-class-1 {
  border: 10px solid rgba(255, 255, 255, 1);
}
:root {
  --blue: rgba(38, 115, 232, 1);
  --blue-2: rgba(38, 115, 232, 0.251);
  --caribbean-green: rgba(0, 228, 146, 1);
  --caribbean-green-2: rgba(0, 228, 146, 0.251);
  --dove-gray: rgba(112, 112, 112, 1);
  --geyser: rgba(212, 218, 230, 1);
  --pomegranate: rgba(255, 73, 29, 1);
  --pomegranate-2: rgba(255, 73, 29, 0.251);
  --selago: rgba(238, 242, 251, 1);
  --spindle: rgba(191, 208, 242, 1);
}
