@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@font-face {
  font-family: 'Axiforma-Book';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/5c59b0a881353e000dcaa8e8/Kastelov - Axiforma Book.otf')
    format('opentype');
}

@font-face {
  font-family: 'Axiforma-Light';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/Axiforma-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Axiforma-Bold';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/Axiforma-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Axiforma-Medium';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/Axiforma-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Axiforma-SemiBold';
  font-weight: 1 1000;
  src: url('https://anima-uploads.s3.amazonaws.com/5c59b0a881353e000dcaa8e8/Kastelov - Axiforma SemiBold.otf')
    format('opentype');
}

* {
  box-sizing: border-box;
}

.axiforma-bold-blue-70px {
  color: var(--blue);
  font-family: 'Axiforma-Bold', Helvetica, Arial, serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}

.axiforma-semi-bold-blue-50px {
  color: var(--blue);
  font-family: 'Axiforma-SemiBold', Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.axiforma-book-normal-blue-30px {
  color: var(--blue);
  font-family: 'Axiforma-Book', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.axiforma-light-blue-21px {
  color: var(--blue);
  font-family: 'Axiforma-Light', Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
}

.axiforma-medium-blue-18px {
  color: var(--blue);
  font-family: 'Axiforma-Medium', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.axiforma-medium-blue-22px {
  color: var(--blue);
  font-family: 'Axiforma-Medium', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.axiforma-light-blue-20px {
  color: var(--blue);
  font-family: 'Axiforma-Light', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.axiforma-semi-bold-spindle-120px {
  color: var(--spindle);
  font-family: 'Axiforma-SemiBold', Helvetica, Arial, serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
}

.error-text {
  color: var(--error-red);
  font-family: 'Axiforma-Light', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.hidden {
  display: none;
  visibility: hidden;
}

.clear {
  pointer-events: none;
}

:root {
  --blue: rgb(38, 115, 232);
  --half-blue: rgb(143, 168, 207);
  --background: rgb(238, 242, 251);
  --semi-background: rgba(238, 242, 251, 0.3);
  --spindle: rgb(191, 208, 242);
  --error-red: rgb(255, 75, 76);

  --light: rgb(249, 251, 255);
  --lighter-light: rgb(255, 255, 255);
  --shadow: rgb(227, 233, 245);
  --darker-shadow: rgb(210, 220, 241);
  --darkest-shadow: rgb(185, 200, 231);
}
